@import "@fontsource/geist/400.css";
@import "@fontsource/geist/500.css";
@import "@fontsource/geist/600.css";
@import "@fontsource/geist/700.css";
@import "@fontsource/jetbrains-mono/400.css";
@import "@fontsource/jetbrains-mono/600.css";
@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@theme {
  --font-family-geist: Geist, sans-serif;
  --font-family-jetbrains-mono: "JetBrains Mono", monospace;
  --font-jetbrains-mono: "JetBrains Mono", monospace;
}

@layer base {
  html {
    font-family: var(--font-family-geist);
  }
}

/* Shiki dual theme support */
/* @media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
  }
} */
